.auth{
	margin-top: 10vh; 
}body{
	background-color: #3498db;
	transition:  background-color 1s;
    
}
.success{
	background-color: #2ecc71;
}
.error{
	background-color: #e74c3c;
}
/* The alert message box */
.alert {
    padding: 20px;
   // background-color: #f44336; /* Red */
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}